.p-head{
    margin: 20px;
    font-size:25px;
    color:#2E4053;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  };
  .p-head-alt
  {
    margin-left: 20px;
    margin-top: 10px;
    font-size:20px;
    color:#85929E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }