*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.Nav{
    height: 90px;
    width: 100%;
    background-color: #2E4053;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 24px;
    box-shadow: 0px 0px 4px rgb(49, 47, 47);
    z-index: 200;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px 0px;
}
.logo-container{
    height: 80px;
    width: 170px;
    padding: 5px;
}
.navbar-logo{
    //justify-self: start;
    margin-left: 20px;
   
}
